site_name: torchattack
site_url: https://docs.swo.moe/torchattack/
repo_url: https://github.com/spencerwooo/torchattack
repo_name: spencerwooo/torchattack
edit_uri: edit/main/docs/
copyright: Copyright &copy; 2023-Present Spencer Woo
nav:
  - index.md
  - Usage:
      - usage/index.md
      - usage/attack-model.md
      - usage/attack-creation.md
      - usage/attack-evaluation.md
      - usage/runner.md
  - ...
  - development.md
theme:
  name: material
  icon:
    logo: material/shield-sword
  favicon: images/favicon.png
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: white
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/weather-night
        name: Switch to system preference
  features:
    - navigation.tracking
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.prune
    - navigation.footer
    - toc.follow
    - toc.integrate
    - search.suggest
    - content.action.edit
    - content.code.copy
    - navigation.path
    - navigation.instant
    - navigation.instant.prefetch
    - navigation.instant.progress
    - navigation.indexes
    - content.code.annotate
    - content.tabs.link
extra_css:
  - stylesheets/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css
extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
plugins:
  - search
  - gen-files:
      scripts:
        - docs/populate_attack_apis.py
  - awesome-pages
  - mkdocstrings:
      handlers:
        python:
          options:
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_root_toc_entry: true
            show_root_heading: true
            show_root_full_path: false
extra:
  analytics:
    provider: google
    property: G-P593KY94JQ
