# Constructed manually until uv pip compile supports dependency groups
torch>=1.13.0
torchvision>=0.14.0
numpy>=1.24.2
scipy>=1.10.1
mypy>=1.13.0
rich>=13.9.4
timm>=1.0.12
pytest-cov>=6.0.0
pytest>=8.3.4
mkdocs-awesome-pages-plugin>=2.9.3
mkdocs-gen-files>=0.5.0
mkdocs-material>=9.5.48
mkdocstrings[python]>=0.27.0
.