name: ci

on:
  pull_request:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          python-version: "3.12"

      - name: Install the project's dev dependencies
        # run: uv sync --dev --group test
        run: uv sync --dev

      - name: Run Ruff
        uses: astral-sh/ruff-action@v1
        with:
          args: check --output-format=github .

      - name: Run type checking
        run: uv run mypy torchattack

      # - name: Run tests
      #   run: uv run pytest tests
